

body {
    background-color: #222222;
    color: #dddddd;
    overflow-x: hidden;
    width: 100%;
    margin: 0px;

}

img {
	background-color: transparent;
}

#background {
    width: calc(100% - 16px);
    height: calc(100% - 120px);
    opacity: 30%;
    position: fixed;
    z-index: -1;
    animation: spinnn;
    animation-duration: 2s;
    top:0px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
}
.person {
    position:absolute;
    width: 300px;
    height: 300px;
    animation: wobble;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

.angry-person{
    margin-top: 150px;
    z-index: 50;

}

a:link {
    color:#DDA0A9;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #FFE2ED;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

.nice-person {
    margin-top: 150px;
    z-index: 50;

}

.angry-person-container {
    animation: bounce-back;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 50;
    position: absolute;
    transform: translateX(-1000px);
    opacity: 0%;

}


.angry-van-container {
    animation: drive-back;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 50;
    position: absolute;
    transform: translateX(-1000px);
    opacity: 0%;

}

.van-man-container {
    animation: get-back-in;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 50;
    position: absolute;
    transform: translateX(-1000px);
    opacity: 0%;

}
#baseballer {
        animation-delay: 3.4s;

}
#knife-man {
    animation-delay: 1.7s;

}

.title-real {
    position: fixed;
    background-color: #222222;
    border-radius: 10px;
    z-index:1000;

}
.title {
    font-size: 48px;
    width: calc(100% - 16px);
    text-align: center;
    padding: 8px;
}
.ghost-title {
opacity: 0%;
}

.nice-person-container {
    animation: enter-pub;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: 50;
    position: absolute;
    animation-timing-function: linear;

}

@keyframes enter-pub {
    0% {transform: translateX(-1000px);
    opacity: 0%;}
    25% {transform: translateX(-550px);
    opacity: 90%;}
    50% {transform: translateX(-100px);
    opacity: 100%;}
    75% {transform: translateX(-90px) scale(80%) translateY(86px);
    opacity: 10%;}
    100% {transform: translateX(-80px) scale(70%) translateY(130px);
        opacity: 0%;}
    }


@keyframes bounce-back {
    0% {transform: translateX(-1000px);
    opacity: 0%;}
    25% {transform: translateX(-555px);
        opacity: 90%;}
    50% {transform: translateX(-110px); opacity: 100%;}
    75% {transform: translateX(-555px);
        opacity: 90%;}
    100% {transform: translateX(-1000px); opacity: 0%;}
}
@keyframes drive-back {
    0% {transform: translateX(-1000px);
    opacity: 0%;}
    12.5% {transform: translateX(-625px);
        opacity: 90%;}
    25% {transform: translateX(-250px); opacity: 100%;}
    75% {transform: translateX(-250px); opacity: 100%;}

    87.5% {transform: translateX(-625px);
        opacity: 90%;}
    100% {transform: translateX(-1000px); opacity: 0%;}
}
@keyframes get-back-in {
    0% {transform: translateX(-150px); opacity: 0%;}

    25% {transform: translateX(-150px); opacity: 0%;}
    42% {transform: translateX(-150px); opacity: 100%;}
    58% {transform: translateX(-150px); opacity: 100%;}

    75% {transform: translateX(-150px); opacity: 0%;}
    100% {transform: translateX(-150px); opacity: 0%;}
}

.content-container {
    align-items: center;
    justify-content: center;
    z-index: 200;
    position: absolute;
    width: 100%;
    margin-bottom: 80px;
    display: flex;
}
.link-bar {
    position: fixed;
    bottom: 0px;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #222222;
    z-index:1000;
    display: flex;
}
.link-item{
    width: 50%;
    text-align: center;
    align-items: center;
}
.content {
    z-index: 200;
    position: relative;
    list-style-position: outside;
    max-width: 300px;
}

ul {
    z-index: inherit;
    align-self: center;
    font-size: 24px;
    list-style-position: outside;
}

#guard {
    margin-top: 170px;

    margin-left: 110px;
    z-index: 100;
}



@keyframes wobble {
    0% {transform:rotate(5deg);}
    50% {transform:rotate(-5deg);}
    100% {transform:rotate(5deg);}
}

@keyframes spinnn {
    0% {transform:rotate(-4320deg);}
    100% {transform:rotate(0deg);}
}

#pub {
    width:600px;
    height:600px;
    margin-top: -100px;
    position: absolute;
    z-index: 1;

}

.animation-container {
    display: flex;
    justify-content: center;
    min-width: 100%;
    transform: scale(0.8);
    height: 350px;
    margin-top: -100px;
	background-color: transparent;
}
.animation-container-2 {
	background-color: transparent;
    margin-top: 170px;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 36px;
    }
    .animation-container {
        transform: scale(0.6);
    }
        .animation-container-2 {

            margin-top: 70px;
        }
  }
  @media only screen and (max-height: 600px) {
    .title {
        font-size: 36px;
    }
    .animation-container {
        transform: scale(0.6);  }
        .animation-container-2 {

            margin-top: 70px;
        }
  }

  #site {
      margin-top: -150px;
      width: 400px;
      height: 400px;
  }
  @media only screen and (min-width: 1200px) {
    .title {
        font-size: 60px;
    }
    .animation-container {
        transform: scale(0.6);   
    min-width:50% }
    .multiple-animation-container {
        display: flex;
    }
    
  }

.multiple-animation-container {
    background-color: transparent;
}